html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #5f45c5, #c2e400, #220bf5);
  color: rgb(98, 4, 250);
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: rgb(251, 249, 255);
  cursor: pointer;
}

button:hover {
  background: rgb(255, 0, 98);
}

@keyframes slideIn {
  from { transform: translateX(-50px); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

#pokerCards img {
  animation: slideIn 0.5s ease;
}

#pokerCards img {
  transition: transform 0.6s;
}

#pokerCards img:hover {
transform: translateY(-25px);
transform: rotate(90deg);
  box-shadow: gold 0px 0px 100px;
}